@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;

@model EpiserverOEC.Models.Blocks.NewsPodSection

<script src="~/Scripts/jquery-1.10.2.js"></script>

@{
    var pageRouteHelper = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.Web.Routing.IPageRouteHelper>();
    var children = DataFactory.Instance.GetDescendents(pageRouteHelper.PageLink);

    List<PageData> bigPages = new List<PageData>();

    foreach (var child in children)
    {
        var pageRef = new PageReference(child.ID);
        var contentRepository = ServiceLocator.Current.GetInstance<IContentRepository>();
        var page = contentRepository.Get<PageData>(pageRef);
        bigPages.Add(page);
    }

    var pages = bigPages
        .OrderByDescending(p => p.StartPublish.Value);

    <div class="container">

        <div class="item col-md-3 col-sm-4 col-xs-8">
            <h4 id="catInfo"></h4>
        </div>

        <div class="item col-md-6 col-sm-9 col-xs-14">

            @{
                int pageCount = 0;
            }

            @foreach (var page in pages)
            {
                ++pageCount;

                string visibility = "";

                if (pageCount > 5)
                {
                    visibility = "display:none";
                }

                    <div class="article @page.GetPropertyValue("ItemCategory") @page.StartPublish.Value.Year @page.StartPublish.Value.Month">
                        <div style="margin-bottom:40px">
                            <a href="@page.LinkURL">

                                @if (page.GetPropertyValue<ContentReference>("Image") != null)
                                {
                                    <img src="@Url.ContentUrl(page.GetPropertyValue<ContentReference>("Image"))" style="width:100%; min-height:320px @visibility" />
                                }

                                @if (page.GetPropertyValue("Heading") != null)
                                {
                                    <h2>@page.GetPropertyValue("Heading")</h2>
                                }

                                @if (page.GetPropertyValue<XhtmlString>("BodyText") != null)
                                {
                                    string description = page.GetPropertyValue<XhtmlString>("BodyText").ToString();

                                    if (description.Length > 230)
                                    {
                                        description = description.Remove(230);

                                        while (!description.EndsWith(" "))
                                        {
                                            description = description.Remove(description.Length - 1, 1);
                                        }

                                        description = description.Remove(description.Length - 1, 1);
                                        description += "...";
                                    }

                                    <div class="text" style="color:dimgray">@Html.Raw(description)</div>
                                }
                            </a>
                        </div>

                        <div style="background-color:white; color:dimgray; border:2px solid lightgray; padding:15px 25px; margin-bottom:50px">

                            @{
                                string date = page.StartPublish.Value.Year.ToString();
                                date += '-';

                                if (page.StartPublish.Value.Month < 10)
                                {
                                    date += '0';
                                }

                                date += page.StartPublish.Value.Month;
                                date += '-';

                                if (page.StartPublish.Value.Day < 10)
                                {
                                    date += '0';
                                }

                                date += page.StartPublish.Value.Day;
                            }

                            <p>
                                @date
                            </p>
                            <p class="cat @page.GetPropertyValue("ItemCategory") text-right" style="color:firebrick">
                                @page.GetPropertyValue("ItemCategory")
                            </p>

                        </div>
                    </div>
                                }

            @if (pageCount > 5)
            {
            <div style="margin:10px 0 50px 0; font-weight:bolder">

                <div style="background-color:black; color:white; padding:13px 22px; height:50px; width:50px; float:left; margin:10px 0 70px 0">
                    1
                </div>
                <div style="background-color:white; color:dimgray; border:2px solid lightgray; padding:13px 19px; height:50px; width:50px; float:left; margin:10px 0 70px 0">
                    2
                </div>
                <div style="background-color:white; color:dimgray; border:2px solid lightgray; padding:13px 20px; height:50px; width:50px; float:right; margin:10px 0 70px 0">
                    >
                </div>
            </div>
            }

        </div>

        @{
            List<int> years = new List<int>();
            List<string> cats = new List<string>();

            foreach (var page in pages)
            {
                if (!years.Contains(page.StartPublish.Value.Year))
                {
                    years.Add(page.StartPublish.Value.Year);
                }

                if (!cats.Contains(page.GetPropertyValue("ItemCategory")))
                {
                    cats.Add(page.GetPropertyValue("ItemCategory"));
                }
            }
        }

        <div class="item col-md-3 col-sm-4 col-xs-8">

            <div style="margin-bottom:30px">
                <div class="headline" style="background-color:firebrick; color:white; padding:5px 15px; cursor:pointer">
                    <h4>
                        Alla nyheter
                    </h4>
                </div>

                @foreach (var year in years)
                {
                    <div class="year @year menuItem" style="background-color:indianred; color:white; padding:5px 15px; border-top:1px solid pink; cursor:pointer">
                        <h5>
                            @year
                        </h5>
                    </div>

                    var months = new List<int>();

                    foreach (var page in pages)
                    {
                        if (page.StartPublish.Value.Year == year && !months.Contains(page.StartPublish.Value.Month))
                        {
                            months.Add(page.StartPublish.Value.Month);
                        }
                    }

                    foreach (var month in months)
                    {
                        string monthStr = string.Empty;

                        switch (month)
                        {
                            case 1: monthStr = "Januari"; break;
                            case 2: monthStr = "Februari"; break;
                            case 3: monthStr = "Mars"; break;
                            case 4: monthStr = "April"; break;
                            case 5: monthStr = "Maj"; break;
                            case 6: monthStr = "Juni"; break;
                            case 7: monthStr = "Juli"; break;
                            case 8: monthStr = "Augusti"; break;
                            case 9: monthStr = "September"; break;
                            case 10: monthStr = "Oktober"; break;
                            case 11: monthStr = "November"; break;
                            case 12: monthStr = "December"; break;
                        }

                        <div class="month @month @year menuItem" style="background-color:indianred; color:white; padding:5px 15px; border-top:1px solid pink; cursor:pointer" hidden="hidden">
                            <h5>
                                - @monthStr
                            </h5>
                        </div>
                    }
                }

            </div>

            <div class="headline" style="background-color:firebrick; color:white; padding:5px 15px; cursor:pointer">
                <h4 id="kategorier">
                    Kategorier
                </h4>
            </div>

            @foreach (var cat in cats)
            {
                <div class="cat @cat menuItem" style="background-color:indianred; color:white; padding:5px 15px; border-top:1px solid pink; cursor:pointer">
                    <h5>
                        @cat
                    </h5>
                </div>
            }

        </div>

    </div>
}

<script type="text/javascript">

    $(document).ready(function () {

        $('.headline').click(function () {

            $('.article').slideDown('slow');

            $('.menuItem').animate({
                opacity: '1',
            });
        });

        $('.cat').click(function () {

            var input = $(this).attr('class').split(' ')[1];

            $('.article').slideUp('slow');

            $('.' + input).slideDown('slow');

            $('.menuItem').animate({
                opacity: '1',
            });

            $(this).animate({
                opacity: '0.6',
            });
        });

        $('.year').click(function () {

            var input = $(this).attr('class').split(' ')[1];

            $('.article').slideUp('slow');

            $('.article.' + input).slideDown('slow');

            $('.month').slideUp('slow');

            $('.month.' + input).slideDown('slow');

            $('.menuItem').animate({
                opacity: '1',
            });

            $(this).animate({
                opacity: '0.6',
            });
        });

        $('.month').click(function () {

            var input = $(this).attr('class').split(' ')[1];

            $('.article').slideUp('slow');

            $('.' + input).slideDown('slow');

            $('.menuItem').animate({
                opacity: '1',
            });

            $(this).animate({
                opacity: '0.6',
            });
        });
    });

</script>