@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using EPiServer;
@using EPiServer.Core;
@using EPiServer.ServiceLocation;
@using OEC_webb.Models;

@model EpiserverOEC.Models.Pages.SlideShowPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Merriweather+Sans:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>

    @{
        var children = DataFactory.Instance.GetDescendents(ContentReference.RootPage);

        List<PageData> randomPages = new List<PageData>();

        foreach (var child in children)
        {
            var pageRef = new PageReference(child.ID);
            var contentRepository = ServiceLocator.Current.GetInstance<IContentRepository>();
            var page = contentRepository.Get<PageData>(pageRef);

            if (page.PageTypeName == "AuctionItemPage" && !page.IsDeleted)
            {
                randomPages.Add(page);
            }
        }

        var pages = randomPages
            .OrderByDescending(p => p.StartPublish.Value);
    }

    <div class="text-center" style="background-color:white; padding-top:200px">

        @for (int i = 1; i < (pages.Count() - 1); i++)
        {
            if (i == 1)
            {
                <span class="prick @i" style="height:10px; width:10px; border-radius:10px; background-color:rgba(0,0,0,1); color:rgba(0,0,0,0)">--</span>
            }
            else
            {
                <span class="prick @i" style="height:10px; width:10px; border-radius:10px; background-color:rgba(0,0,0,0.6); color:rgba(0,0,0,0)">--</span>
            }
        }

    </div>

    <div style="background-color:white; padding:0 2% 150px 2%; width:100%; height:100%; display:table;">
        <div style="display: table-row">

            @{
                int itemNr = 0;

                foreach (var page in pages)
                {
                    ++itemNr;
                    var bidHistory = SQLQuery.GetBidHistory(Convert.ToInt32(page.GetPropertyValue("PageLink")));

                    <div class="aItem" id="@itemNr" style="width:32%; display:table-cell; padding:5px">
                        <img src="@Url.ContentUrl(page.GetPropertyValue<ContentReference>("Image"))" style="width:100%; min-height:600px" />

                        @if (bidHistory.HighestBid < page.GetPropertyValue<Int32>("StartingBid"))
                        {
                            <h3 style="color:firebrick">Startbud: @page.GetPropertyValue("StartingBid") kr</h3>
                        }
                        else
                        {
                            <h3 style="color:firebrick">Senaste bud: @bidHistory.HighestBid kr</h3>
                            <p>antal bud: <strong>@bidHistory.NumberOfBids</strong> · Senaste budgivare: <strong>@bidHistory.LatestBidder</strong></p>
                        }

                    </div>
                }
            }

        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            var aItems = $('.aItem').length;
            var first = 1;

            $('.aItem').hide();
            $('#1,#2,#3').fadeIn();

            $('#p1').click(function () {
                alert('p1!');
            });

            window.setInterval(function () {

                if ((first + 3) > aItems) {
                    $('.aItem').hide();
                    $('#1,#2,#3').animate({ width: 'toggle' });
                    first = 1;
                    $('.prick').css("background-color", "rgba(0,0,0,0.6)");
                    $('.prick.' + first).css("background-color", "rgba(0,0,0,1)");
                }
                else {
                    $('#' + first).animate({ width: 'toggle' });
                    $('#' + (first + 3)).animate({ width: 'toggle' });
                    $('.prick.' + (first + 1)).css("background-color", "rgba(0,0,0,1)");
                    $('.prick.' + (first)).css("background-color", "rgba(0,0,0,0.6)");
                    ++first;
                }
            }, 5000);
        });

    </script>

</body>
</html>
